<template>
  <div class="xxs_container">
     <!-- 头部 -->
    <xxs-header/>
    <div class="detail-main">
      <div class="detail-warp">
        <div class="detail-icon-box">
          <img src="https://img.huxiucdn.com/chuangye/2019/01/13/1547379376464318.png?imageView2/1/w/120/h/120/|imageMogr2/strip/interlace/1/quality/85/format/png">
        </div>
        <div class="detail-info-box">
          <h1 class="detail-info-name">明略数据</h1>
          <div class="detail-info-time">发布时间： 2019-01-13</div>
          <div class="detail-info-summary">大数据整体解决方案提供商</div>
        </div>
      </div>
      <div class="detail-nav">
        <ul>
          <li v-for="(value, index) in tagList"
            :key="index"
            :class="{ 'li-active': classIndex === index}"
            @click="changeTag(index)">
            {{ value }}
          </li>
        </ul>
      </div>
      <div class="detail-center">
        <div class="wrap-left">
          <div class="wrap-info">
            <span class="span-mark-author">{{ tagList[classIndex] }}</span>
            <div class="content" v-html="str">
            </div>
          </div>
        </div>
        <div class="wrap-right">
          <div class="company-base-info">
            <h3>公司基本信息</h3>
            <span class="span-mark"></span>
            <ul>
              <li>创始人：我建议</li>
              <li>网址：www.hao123.com</li>
              <li>地址：股份的回访电话</li>
              <li>成立时间：2018-25-24</li>
              <li>法定代表：我建议</li>
              <li>公司类型：鸡飞狗叫</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 页脚 -->
    <xxs-footer/>
  </div>
</template>
<script>
const str = `<p style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: 400; font-style: normal; font-size: 16px; padding: 0px; margin: 0px 0px 28px; font-variant: normal; font-stretch: normal; line-height: 28px; color: #222222; text-align: justify; text-indent: 2em; letter-spacing: normal; orphans: 2; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;">原标题永远做党和人民的忠诚卫士&mdash;&mdash;习近平总书记向国家综合性消防救援队伍授旗并致训词引起强烈反响</p>
<p style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: 400; font-style: normal; font-size: 16px; padding: 0px; margin: 0px 0px 28px; font-variant: normal; font-stretch: normal; line-height: 28px; color: #222222; text-align: justify; text-indent: 2em; letter-spacing: normal; orphans: 2; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;"><strong style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: bold; font-style: normal; font-size: 16px; padding: 0px; margin: 0px; font-variant: normal; font-stretch: normal; line-height: 28px;">央视网消息</strong>（新闻联播）：消防救援队伍是党和人民的&ldquo;安全卫士&rdquo;。中共中央总书记、国家主席、中央军委主席习近平昨天在人民大会堂向国家综合性消防救援队伍授旗并致训词，在全国消防救援队伍中引起强烈反响。广大消防救援人员表示，要以旗帜为指引，以训词为号令，认真学习贯彻领会习近平总书记训词精神，主动作为、勇于担当、不辱使命，永远做党和人民的忠诚卫士。</p>
<p style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: 400; font-style: normal; font-size: 16px; padding: 0px; margin: 0px 0px 28px; font-variant: normal; font-stretch: normal; line-height: 28px; color: #222222; text-align: justify; text-indent: 2em; letter-spacing: normal; orphans: 2; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;">组建国家综合性消防救援队伍，是党中央适应国家治理体系和治理能力现代化作出的战略决策，对提高我国防灾减灾救灾能力、维护社会公共安全、保护人民生命财产安全具有重大意义。习近平总书记的训词，着眼历史和时代的发展大势，站在政治和全局的战略高度，明确了国家综合性消防救援队伍的战略定位和使命任务，指明了前进方向。</p>
<p style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: 400; font-style: normal; font-size: 16px; padding: 0px; margin: 0px 0px 28px; font-variant: normal; font-stretch: normal; line-height: 28px; color: #222222; text-align: justify; text-indent: 2em; letter-spacing: normal; orphans: 2; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;">大家表示，习近平总书记亲自授旗并致训词，是消防救援队伍改革发展史上的重大历史时刻，是新时代全面加强消防建设的动员令。</p>
<p style="font-family: 'Microsoft YaHei'; border: none; vertical-align: baseline; font-weight: 400; font-style: normal; font-size: 16px; padding: 0px; margin: 0px 0px 28px; font-variant: normal; font-stretch: normal; line-height: 28px; color: #222222; text-align: justify; text-indent: 2em; letter-spacing: normal; orphans: 2; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial;">站在新起点，更待新作为。消防救援队员们决心以更加昂扬的精神状态、更加顽强的战斗意志，在应急救援实战中，践行总书记&ldquo;敢于赴汤蹈火、竭诚为民&rdquo;的殷切嘱托，在党和人民需要时，刀山敢上，火海敢闯，召之即来，战之必胜。</p>`
const tagList = ['公司概况', '优势', '发展历史', '团队介绍']
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
export default {
  components: {
    xxsHeader,
    xxsFooter
  },
  data() {
    return {
      classIndex: 0,
      tagList,
      str
    }
  },
  methods: {
    changeTag(type) {
      this.classIndex = type
    }
  }
}
</script>
<style lang="scss" scoped>
.detail-main {
  margin: 0 auto;
  width: 1200px!important;
  position: relative;
  .detail-warp {
    position: relative;
    height: 122px;
    border: 1px solid #f0f0f0;
    padding: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    .detail-icon-box {
      width: 122px;
      height: 122px;
      float: left;
      overflow: hidden;
      img {
        width: 100%;
        vertical-align: middle;
        border: 0;
      }
    }
    .detail-info-box {
      position: absolute;
      margin-left: 157px;
      padding-left: 35px;
      border-left: 1px solid #f0f0f0;
      height: 122px;
      .detail-info-name {
        text-align: left;
        font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin: 10px 0;
      }
      .detail-info-time {
        text-align: left;
        font-size: 16px;
        color: #bbb;
      }
      .detail-info-summary {
        position: relative;
        font-size: 16px;
        color: #999;
        margin-top: 10px;
        line-height: 28px;
      }
    }
  }
  .detail-nav {
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        cursor: pointer;
        height: 70px;
        color: #bbb;
        font-size: 18px;
        padding: 0 30px;
        float: left;
        line-height: 85px;
        display: list-item;
        text-align: -webkit-match-parent;
      }
      .li-active {
        color: #333;
        border-bottom: 2px solid #3ca5f6;
      }
    }
  }
  .detail-center {
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
    .wrap-left {
      position: relative;
      width: 800px;
      margin: 0 auto;
      float: left!important;
      .wrap-info {
        margin-top: 87px;
        // margin-bottom: 60px;
        border-top: 1px solid #f0f0f0;
        .span-mark-author {
          display: inline-block;
          border-bottom: 4px solid #f63756;
          position: absolute;
          z-index: 1;
          height: 28px;
          line-height: 20px;
          margin: -32px 0 0 0;
          left: 0;
          font-size: 18px;
        }
        .content {
          font-size: 16px;
          color: #333;
          line-height: 28px;
          word-break: break-all;
          word-wrap: break-word;
          text-align: left;
          overflow: hidden;
          position: relative;
          top: 30px;
          margin-bottom: 30px;
        }
      }
    }
    .wrap-right {
      width: 340px;
      float: right!important;
      .company-base-info {
        margin-top: 30px;
        position: relative;
        background-color: #fff;
        border-left: 1px solid #f0f0f0;
        h3 {
          text-align: left;
          font-family: inherit;
          font-weight: 500;
          line-height: 1.1;
          color: inherit;
          display: block;
          font-size: 20px;
          padding: 30px 30px 0 30px;
          margin: 0;
        }
        .span-mark {
          display: inline-block;
          background-color: #f63756;
          position: absolute;
          z-index: 1;
          height: 20px;
          line-height: 20px;
          left: 0;
          margin: -22px 0 0 0;
          width: 4px;
        }
        ul {
          text-align: left;
          padding: 0;
          margin: 0;
          margin-top: 10px;
          list-style-type: none;
          li {
            text-align: left;
            border-bottom: 1px solid #fafafa;
            padding: 13px 30px;
            line-height: 28px;
            font-size: 16px;
            color: #333;
            display: inline-block;
            width: 275px;
          }
        }
      }
    }
  }
}
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
</style>


