<template>
  <div class="xxs_container">
    <!-- 头部 -->
    <xxs-header/>
    <!-- 主体 -->
    <div class="company-main">
      <!-- 公司列表 -->
      <div class="company-list">
        <div class="company-box" v-for="item in [1, 2, 3, 4]" :key="item">
          <div class="company-img">
            <a href="" target="_blank">
              <img src="https://img.huxiucdn.com/chuangye/2018/12/23/1545578947309898.jpg?imageView2/1/w/370/h/208/|imageMogr2/strip/interlace/1/quality/85/format/jpg" alt="">
            </a>
          </div>
          <h2 class="company-name">
            <a href="">呆萝卜</a>
          </h2>
          <div class="company-summary">
            基于互联网农业的O2O电商平台
          </div>
          <div class="company-tag">
            <ul>
              <li>行业：电子商务</li>
              <li>所在地：北京市</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 页脚 -->
    <xxs-footer/>
  </div>
</template>
<script>
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
export default {
  components: {
    xxsHeader,
    xxsFooter
  }
}
</script>
<style lang="scss" scoped>
.company-main {
  padding: 0 0;
  width: 1200px!important;
  position: relative;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  .company-list {
    box-sizing: border-box;
    .company-box {
      width: 378px;
      height: 330px;
      margin-right: 30px;
      border: 1px solid #f0f0f0;
      float: left;
      margin-bottom: 30px;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      .company-img {
        width: 100%;
        height: 208px;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: middle;
          border: 0;
        }
      }
      .company-name {
        text-align: left;
        font-size: 20px;
        line-height: 28px;
        margin: 10px 0;
        padding-left: 20px;
        padding-right: 10px;
        font-family: inherit;
        font-weight: 500;
        color: inherit;
        a {
          height: 28px;
          max-width: 280px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          text-decoration: none;
          cursor: pointer;
          color: #303030;
        }
        a:hover {
          color: #337ab7;
        }
      }
      .company-summary {
        text-align: left;
        font-size: 14px;
        color: #999;
        line-height: 28px;
        padding: 0 20px 10px 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .company-tag {
        box-sizing: border-box;
        ul {
          margin-left: 10px;
          padding: 0;
          margin: 0;
          list-style-type: none;
          li {
            padding: 0 20px 10px 20px;
            position: relative;
            float: left;
            font-size: 12px;
            color: #999;
            display: list-item;
          }
        }
      }
    }
    .company-box:nth-child(3n) {
      margin-right: 0;
    }
    .company-box:hover {
      box-shadow: 0 5px 8px rgba(45,50,55,.2);
      margin-top: -2px;
      margin-bottom: 32px;
    }
  }
}
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
</style>

