<template>
  <div class="xxs_container">
    <xxs-header></xxs-header>

    <!-- 主体 -->
    <div class="xxs_main">
      <!-- 文章 -->
      <div class="xxs_article">
        <h1 class="xxs_t_h1">{{ article.title }}</h1>
        <div class="xxs_article_link">
          <span>{{ parseTime(article.updateTime) }}</span>
          <span style="margin: 0 30px;">阅读 {{ article.views }}</span>
          <span>收藏 {{ article.favorites }}</span>
        </div>
        <div class="xxs_article_img" v-if="imgShow">
          <img :src="imgUrl + article.imageNo" :alt="article.title">
        </div>
        <div class="xxs_article_res">
          <span v-html="article.content"></span>
        </div>

        <!-- 评论 -->
        <article-comment :articleNo="article.articleNo" :createUserUuid="article.createUserUuid" v-if="article.articleNo">
        </article-comment>
      </div>
      <!-- 右侧 -->
      <div class="xxs_main_right">
        <article-author></article-author>
      </div>
    </div>
    <!-- 页脚 -->
    <xxs-footer>
    </xxs-footer>
  </div>
</template>

<script>
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
import articleComment from '@/components/comment'
import articleAuthor from './author'
import { formatTime, parseTime } from '@/common/util/time'

const imgUrl = 'http://111.230.209.144:8088/img-server/findSysAblum?imageNo='
export default {
  components: {
    xxsHeader,
    xxsFooter,
    articleComment,
    articleAuthor
  },
  data() {
    return {
      formatTime,
      parseTime,
      imgUrl,
      imgShow: false,
      article: {
        createUserUuid: null,
        title: null,
        updateTime: null,
        views: null,
        favorites: null,
        articleNo: null,
        imageNo: null,
        content: null
      }
    };
  },
  methods: {
    async getArticle() {
      this.imgShow = false
      const id = this.$route.query.articleNo
      const res = await this.$articleHttp.get('/newsArticle/getDraftById', { id })
      const article = res.data.data
      document.title = article.title
      this.article = {
        createUserUuid: article.createUserUuid,
        title: article.title,
        updateTime: article.updateTime,
        views: article.views,
        favorites: article.favorites,
        articleNo: article.articleNo,
        imageNo: article.imageNo,
        content: article.content
      }
      this.imgShow = true
    }
  },
  created() {
    this.getArticle()
  }
};
</script>
<style lang="less" scoped>
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.xxs_main {
  margin: 0 auto;
  width: 1200px;
}
.xxs_article {
  margin-top: 12px;
  width: 770px;
  float: left;
  .xxs_t_h1 {
    text-align: left;
    font-size: 28px;
    position: inherit;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
  }
  .xxs_article_link {
    color: #949494;
    text-align: left;
    margin: 20px 0;
  }
  .xxs_article_img {
    width: 770px;
    height: 399px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .xxs_article_res {
    margin-top: 25px;
  }
}
.xxs_main_right {
  width: 370px;
  margin-top: 20px;
  float: right;
  // background-color: rgb(97, 93, 93);
}

</style>

