<template>
  <div>
    <div class="article-author">
      <div class="author-logo">
        <img src="https://upload.jianshu.io/users/upload_avatars/5898720/6be919ee-88dd-4ea1-9bf0-aa1f194657b4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114/format/webp" alt="">
      </div>
      <div><span class="author-name">作者名字</span></div>
      <div class="author-count">共发表28篇文章</div>
      <div class="author-about">个人简介</div>
      <div class="author-about-content">我来自收到了可根据阿手机酷狗阿双方拉斯科技法律卡斯加分了</div>
    </div>
    <div class="mark">
      <div class="mark-span">热门频道</div>
      <div class="mark-i"></div>
    </div>
    <div class="article-author hot-channel">
      <div class="article-channel">
        <a href="">体育频道</a>
        <a href="">体育频sdgsdg道</a>
        <a href="">体育频fdhgds 道</a>
        <a href="">体育频sdfgas道</a>
        <a href="">体育频道</a>
        <a href="">体育频道</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="less" scoped>
.article-author {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #dedede;
  .author-logo {
    margin: 35px auto 10px auto;
    width: 98px;
    height: 98px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .author-name {
    cursor: pointer;
    color: #696969;
  }
  .author-name:hover {
    color: #3194d0;
  }
  .author-count {
    display: inline-block;
    cursor: pointer;
    margin: 18px auto 30px auto;
    color: #b3b3b3;
    font-size: 14px;
  }
  .author-about {
    font-weight: bold;
    margin-left: 30px;
    text-align: left;
    left: 0;
  }
  .author-about-content {
    font-size: 14px;
    margin:15px 30px 40px 30px;
    text-align: left;
    color: #b3b3b3;
  }
  .author-count:hover {
    color: #3194d0;
  }
}
.mark {
  margin-top: 45px;
  .mark-span {
    margin-bottom: 4px;
    text-align: left;
  }
  .mark-i {
    width: 64px;
    height: 4px;
    background-color: rgb(182, 21, 0);
  }
}
.hot-channel {
  text-align: left;
  // height: 200px;
  .article-channel {
    margin: 20px auto;
    a {
      padding: 0 15px;
      margin: 0 15px 15px 15px;
      display: inline-block;
      // height: 26px;
      line-height: 24px;
      // padding: 0 15px;
      border: 1px solid #68727d;
      border-radius: 5px;
      color: #68727d;
      transition: all .2s ease;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      color: #3ca5f6;
    }
  }
}
</style>


