<template>
  <div class="xxs_container">
    <xxs-header></xxs-header>
    <div class="xxs-search-main">
      <!-- 左边 -->
      <div class="xxs-search-left">
        <!-- 搜索框 -->
        <div class="xxs-search-box">
          <input v-model="search.q" type="text" class="xxs-search-input" placeholder="请输入您要搜索的内容">
          <div class="search-icon" @click="getSearchPage()">
            <i class="el-icon-search"></i>
          </div>
        </div>
        <!-- 结果集 -->
        <div class="xxs-search-result">
          <ul class="search-list-ul">
            <li>
              <h2>标题</h2>
              <div class="search-summay">只要摘要sdfgsdgsdsdg......</div>
              <div class="search-author">
                <span class="name">我是作者名字</span>  
                <span class="time">2018-12-52 15:21:22</span>  
              </div>    
            </li>
          </ul>
          <!-- 分页 -->
          <div class="search-page">
            <el-pagination
              :page-size="pageSize"
              :current-page="currentPage"
              @current-change="currentChange"
              background
              layout="prev, pager, next"
              :total="total">
            </el-pagination>
          </div>
        </div>
      </div>
      <!-- 右边 --> 
      <div class="xxs-search-right">右边</div>    
    </div>
    <xxs-footer></xxs-footer>
  </div>
</template>
<script>
import xxsHeader from "@/components/xxs-header"
import xxsFooter from "@/components/xxs-footer"
export default {
  components: {
    xxsHeader,
    xxsFooter
  },
  data() {
    return {
      //  分页参数
      pageSize: 20,
      currentPage: 1,
      total: 0,

      search: {
        q: ''
      }
    }
  },
  methods: {
    currentChange(val) {
      this.currentPage = val
    },
    //  获取查询分页
    async getSearchPage() {
      const params = {
        pageNo: this.currentPage,
        pageSize: this.pageSize,
        q: this.search.q
      }
      const respones = await this.$webHttp.get('/web/web/article/search', params)
      console.log(respones)
    }
  }
};
</script>
<style lang="scss" scoped>
.xxs-search-main {
  max-width: 1200px;
  margin: 40px auto;
  .xxs-search-left {
    max-width: 800px;
    float: left;
    .xxs-search-box {
      width: 100%;
      .xxs-search-input {
        height: 58px;
        width: 100%;
        border: 1px solid #f0f0f0;
        font-size: 18px;
        padding-left: 20px;  
        display: inline-block;  
        width: 750px;    
      }
      .search-icon {
        color: #f0f0f0;
        position: absolute;
        margin-left: -80px;
        width: 80px;
        height: 60px;
        text-align: center;
        background-color: #3ca5f6;
        display: inline-block;
        cursor: pointer;
        border: none!important;
        line-height: 60px;
        box-shadow: none!important;  
        display: inline-block;
        .el-icon-search {
          margin-top: 10px;
          zoom: 1.5;    
        }
      }
    }
    // 搜索结果样式
    .xxs-search-result {
      box-sizing: border-box;
      .search-list-ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          text-align: left;
          display: list-item;
          border-bottom: 1px solid #f0f0f0;
          padding: 5px 0 12px 0;
          h2 {
            font-size: 18px;
            line-height: 28px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-family: inherit;
            font-weight: 500;
            color: inherit;
          }
          .search-summay {
            overflow: hidden;
            font-size: 14px;
            color: #bbb;
            line-height: 24px;
          }
          .search-author {
            font-size: 14px;
            color: #bbb;
            margin: 10px 0;
            box-sizing: border-box;
            .time {
              color: #bbb;
              line-height: 24px;
              margin-left: 20px;
              font-style: normal;
              word-break: break-all;
            }
          }    
        }    
      }
      .search-page {
        margin-top: 50px;
      }    
    }
  }
  .xxs-search-right {
    float: right;    
  }
}
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
</style>


