<template>
    <div style="height: 500px">
        <!-- swiper1 -->
      <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
        <swiper-slide><a href="https://www.hao123.com/" target="_blank"><img :src="imgUrl1"></a></swiper-slide>
        <swiper-slide><img :src="imgUrl2"></swiper-slide>
        <swiper-slide><img :src="imgUrl1"></swiper-slide>
        <swiper-slide><img :src="imgUrl2"></swiper-slide>
        <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
        <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
      </swiper>
      <!-- swiper2 Thumbs -->
      <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
        <swiper-slide><img :src="imgUrl1"></swiper-slide>
        <swiper-slide><img :src="imgUrl2"></swiper-slide>
        <swiper-slide><img :src="imgUrl1"></swiper-slide>
        <swiper-slide><img :src="imgUrl2"></swiper-slide>
      </swiper>
    </div>
</template>
<script>
import imgUrl1 from '@/assets/img/555.png'
import imgUrl2 from '@/assets/img/gz.jpg'
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
export default {
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      imgUrl1,
      imgUrl2,
      swiperOptionTop: {
        spaceBetween: 10,
        loop: true,
        loopedSlides: 4, //looped slides should be the same
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        slidesPerView: 4,
        touchRatio: 0.2,
        loop: true,
        loopedSlides: 4, //looped slides should be the same
        slideToClickedSlide: true
      }
    };
  },
  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
  }
};
</script>
<style lang="less" scoped>
.swiper-container {
  background-color: rgb(34, 33, 33);
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  img {
    height: 100%;
    width: 100%;
  }
}
.gallery-top {
  height: 80% !important;
  width: 100%;
}
.gallery-thumbs {
  height: 20% !important;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
</style>


