<template>
  <div class="tech-main">
    <el-row>
      <el-col :span="24" class="col-24">
        <h2 class="page-title">最新文章</h2>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12" class="col-12"
        v-for="(item, index) in [1, 2, 3]"
        :key="index">
        <div class="art-card">
          <div class="art-title-main">
            <div class="art-title">
            文章标题
            </div>
            <div class="art-time">
              2018-09-09
            </div>
          </div>
          <div class="art-content">
            TSLint为TypeScript提供了代码检查能力，对使用T
            ypeScript的React Native工程，在规范性、
          </div>
          <div class="art-footer">
            <i class="fa fa-tags"></i>
            <el-tag class="art-tag" size="mini">标签一</el-tag>
            <el-tag class="art-tag" size="mini">标签二</el-tag>
            <el-tag class="art-tag" size="mini">标签三</el-tag>
            <el-tag class="art-tag" size="mini">标签四</el-tag>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  methods: {
    click() {
      alert('555')
    }
  }
}
</script>
<style lang="scss" scoped>
.tech-main {
  margin: 0 auto;
  .col-24 {
    width: 100%;
    min-height: 1px;
    .page-title {
      line-height: 1.1;
      text-align: left;
      margin-top: 20px;
      font-size: 20px;
      color: #999;
      margin-bottom: 10px;
      border-bottom: 1px solid #eee;
      padding-bottom: 4px;
    }
  }
}
.col-12 {
  padding: 15px 15px;
  min-height: 200px;
  max-height: 200px;
  .art-card {
    position: relative;
    text-align: left;
    border: 1px solid rgb(235, 235, 235);
    min-height: 169px;
    max-height: 169px;
    .art-title-main {
      width: 100%;
      height: 36px;
      .art-title {
        cursor: pointer;
        line-height: 36px;
        margin-left: 10px;
        display: inline-block;
        margin-top: 8px;
        color: #1e1f20;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.1;
      }
      .art-time {
        font-size: 14px;
        color: #b4b4b4;
        margin-top: 8px;
        margin-right: 10px;
        position: absolute;
        right: 0;
        display: inline-block;
      }
    }
    .art-content {
      cursor: pointer;
      position: relative;
      height: 85px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: normal;
      line-height: 1.8;
      font-size: 15px;
      margin: 10px;
    }
    .art-footer {
      height: 30px;
      margin: 0 10px;
      .art-tag {
        margin: 0 5px;
      }
    }
  }
  .art-card:hover {
    box-shadow: 0 3px 12px 1px rgba(0,0,0,.1);
  }
}
</style>


