<template>
  <div class="xxs_article_comment">
    <!-- 填写评论 -->
    <div class="comment_from">
      <img :src="qqLogo" class="comment_from_logo">
      <textarea placeholder="写下你的评论..." class="comment_from_comment" v-model="comment.content">
      </textarea>
    </div>
    <div class="comment_from_but" @click="addComment(1)">发表</div>
    <!-- 评论列表 -->
    <div class="comment_list_title">
      <!-- <strong>{{ commentTotal }}条评论</strong> -->
      <div class="mark"></div>
      <div class="mark-font">&nbsp;最新评论</div>
    </div>
    <div class="comment_list" v-for="(item, index) in commentList" :key="item.commentNo">
      <div class="comment_list_content">
        <!-- 发表评论的用户 -->
        <div class="root_comment">
          <div class="comment_logo">
            <img :src="item.imgUrl" alt="">
          </div>
          <div class="info">
            <div class="info_name">{{ item.senderName }}</div>
            <div class="info_time">{{ parseTime(item.createTime) }}</div>
          </div>
        </div>
        <!-- 评论内容 -->
        <div class="comment_content">
          {{ item.content }}
        </div>
        <!-- 回复按钮 -->
        <div class="comment_replay">
          <i class="fa fa-comment-o" v-if="!item.showReplay">
            <span @click="showReplayBut(index, true)"> 
              回复({{ item.childs.length }})
            </span>
          </i>
          <i class="fa fa-angle-double-up" v-if="item.showReplay">
            <span @click="showReplayBut(index, false)">
               收起回复
            </span>
          </i>
        </div>
        <!-- 子评论 -->
        <div class="comment_sub_list" v-if="item.showReplay">
          <div class="comment_sub"
            v-for="child in item.childs" 
            :key="child.commentNo">
            <div class="comment_sub_info">
              <span style="margin-right: 15px;">{{ child.senderName }}:</span>
              <span v-if="child.recevierName" style="margin-right: 10px;">@{{ child.recevierName }}</span>
              <span style="color: #222222">{{ child.content }}</span>
            </div>
            <div class="comment_sub_time">{{ parseTime(child.createTime) }}</div>
            <div class="comment_sub_replay">
              <i class="fa fa-comment-o"><span @click="repalySubComment(child, index)"> 回复</span></i>
            </div>
          </div>
          <div class="add_comment">
            <i class="fa fa-pencil"><span class="add_comment_new" @click="openChildComment(index)"> 添加新评论</span></i>
          </div>
          <div class="show_comment_from" v-if="showFrom && (tempIndex === index)">
            <div class="comment_from">
              <textarea placeholder="写下你的评论..." class="comment_from_comment" v-model="childComment.content">
              </textarea>
            </div>
            <div v-if="toCengzhu" class="comment_from_but" @click="addChildComment(item.commentNo, item.senderNo, 1)">发表</div>
            <div v-else class="comment_from_but" @click="addChildComment(item.commentNo, '', 2)">发表</div>
          </div>
        </div>
      </div>
    </div>
     <!-- 分页 -->
     <div class="xxs-pagination" v-if="commentTotal > 6">
      <el-pagination
      @current-change="currentChange"
        :current-page="currentPage"
        prev-text="上一页"
        next-text="下一页"
        layout="prev, pager, next"
        :page-size="pageSize"
        :total="commentTotal">
      </el-pagination>
    </div>
  </div>
</template>
<script>
import qqLogo from "@/assets/img/qq.png";
import { parseTime } from '@/common/util/time'
export default {
  props: {
    articleNo: {
      type: String
    },
    createUserUuid: {
      type: String
    }
  },
  data() {
    return {
      //  分页参数
      commentTotal: 0,
      currentPage:1,
      pageSize: 6,

      parseTime,
      imgUrl: this.$mgImgUrl,
      qqLogo,
      //  评论list
      commentList: [],
      //  评论表单model
      comment: {
        id: null,
        commentNo: null,
        articleNo: this.articleNo,
        content: null,
        senderNo: null,
        receiverNo: null,
        parentCommentNo: null
      },
      //  二级评论表单
      childComment: {
        id: null,
        commentNo: null,
        articleNo: this.articleNo,
        content: null,
        senderNo: null,
        receiverNo: null,
        parentCommentNo: null
      },
      //  添加新评论 控制按钮参数
      showFrom: false,
      tempIndex: -1,
      toCengzhu: false,
      tempChild: null,
      //  展开回复 收起回复 控制参数
      showReplay: false,
      subIndexs: []
    }
  },
  methods: {
    //  分页获取评论
   async getCommentPage(articleNo) {
      const params = {
        articleNo,
        pageNo: this.currentPage,
        pageSize: this.pageSize
      }
      const respones = await this.$webHttp.get('/web/comment/pageByArticleNo', params)
      this.commentList = respones.data.data.records || []
      this.commentTotal = respones.data.data.total
      this.subIndexs = []
      this.commentList.forEach((item, index) => {
        this.$set(item, 'showReplay', true)
        // item.showReplay = true
        item.imgUrl = this.imgUrl + item.imageNo
        if (!item.imageNo) {
          item.imgUrl = this.imgUrl + '1541825743384fb6ae872b9e04e55af0905c9c5738737'
        }
      })
    },  
    //  发表一级评论
    async addComment(type) {
      if (!this.$getCookie()) {
        this.$tip('请先登录!')
      }
      if (!this.comment.content) {
        this.$tip('评论内容不能为空!')
      }
      const params = { ...this.comment }
      if (type === 1) {
        params.receiverNo = this.createUserUuid
      }
      const respones = await this.$webHttp.post('/web/comment/createComment', params)
      this.comment.content = ''
      this.$msg(respones)
      this.getCommentPage(this.articleNo)
    },
    //  发表二级评论 
    async addChildComment(commentNo, senderNo, type) {
      const params = { ...this.childComment }
      params.parentCommentNo = commentNo
      params.targetCommentNo = commentNo
      params.receiverNo = senderNo
      if (type === 2) {
        params.targetCommentNo = this.tempChild.commentNo
        params.receiverNo = this.tempChild.senderNo
        const index = params.content.indexOf(':')
        params.content = params.content.substring(index + 1, params.content.length)
      }
      const respones = await this.$webHttp.post('/web/comment/createComment', params)
      this.showFrom = false
      this.childComment.content = ''
      this.$msg(respones)
      this.getCommentPage(this.articleNo)
    },
    //  回复子评论
    repalySubComment(child, parentIndex) {
      this.tempChild = child
      this.toCengzhu = false
      this.childComment.content = '@' + child.senderNo + ':'
      if (this.showFrom && this.tempIndex === parentIndex) {
        this.showFrom = false
        return
      }
      this.showFrom = true
      this.tempIndex = parentIndex
    },
    //  打开评论输入框
    openChildComment(index) {
      this.childComment.content = ''
      if (this.showFrom && this.tempIndex === index) {
        this.showFrom = false
        return
      }
      this.toCengzhu = true
      this.showFrom = true
      this.tempIndex = index
    },
    //  收起 展开回复 按钮
    showReplayBut(index1, type) {
      //  1 展开回复
      //  2 收起回复
      this.commentList.forEach((item, index) => {
        if (index1 === index) {
          item.showReplay = type
        }
      })
    },
    //  改变页数
    async currentChange(val) {
      this.currentPage = val
      this.getCommentPage(this.articleNo)
    }
  },
  created() {
    //  获取该文章分页评论
    this.getCommentPage(this.articleNo)
    
  }
}
</script>
<style lang="less" scoped>
.xxs_article_comment {
  margin: 50px 0 60px 0;
  .comment_from {
    // display: inline-block;
    .comment_from_logo {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #eeeeee;
      // float: left;
      margin-right: 8px;
    }
    .comment_from_comment {
      display: inline-block;
      // float:right;
      padding: 10px 15px;
      width: 690px;
      height: 80px;
      font-size: 13px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      background-color: hsla(0,0%,71%,.1);
      resize: none;
      vertical-align: top;
      outline-style: none;
    }
  }
  .comment_from_but {
    cursor: pointer;
    margin-left: 620px;
    display: inline-block;
    width: 148px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background-color: #3ca5f6;
    font-size: 18px;
    border-radius: 4px!important;
    margin-top: 20px;
  }
  .comment_list_title {
    text-align: left;
    margin: 20px auto;
    height: 16px;
    .mark {
      display: inline-block;
      width: 4px;
      height: 16px;
      margin-right: 5px;
      background-color: #3ca5f6;
    }
    .mark-font {
      position: absolute;
      line-height: 16px;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
    }
  }
  .comment_list {
    width: 100%;
    text-align: left;
    .comment_list_content {
      padding: 20px 0 30px;
      border-top: 1px solid #f0f0f0;
      .root_comment {
        margin-bottom: 15px;
        .comment_logo {
          margin-right: 20px;
          position: relative;
          display: inline-block;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #eeeeee;
          }
        }
        .info {
          margin-top: 2px;
          display: inline-block;
          vertical-align: top;
          .info_name {
            font-size: 16px;
          }
          .info_time {
            margin-top: 3px;
            color: #c9c9c9;
            font-size: 12px;
          }
        }
      }
      .comment_content {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5;
      }
      .comment_replay {
        cursor: pointer;
        text-align: right;
        font-size: 14px;
        color: #7c7c7c;
      }
      .comment_replay:hover {
        color: #3ca5f6;
      }
      .comment_sub_list {
        margin-top: 20px;
        padding: 5px 0 5px 20px;
        border-left: 2px solid #d9d9d9;
        .comment_sub {
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px dashed #f0f0f0;
          .comment_sub_info{
            margin: 0 0 5px;
            font-size: 14px;
            color: #3194d0;
          }
          .comment_sub_time {
            display: inline-block;
            font-size: 14px;
            margin-right: 20px;
            color: #969696;
          }
          .comment_sub_replay {
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            color: #969696;
          }
        }
        .add_comment {
          font-size: 14px;
          color: #969696;
          .add_comment_new {
            cursor: pointer;
          }
        }
        .add_comment:last-child {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
    }
  }
}
.show_comment_from {
  margin-left: 26px;
  margin-top: 15px;
  .comment_from_but {
    text-align: center;
    cursor: pointer;
    margin-left: 635px;
    display: inline-block;
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background-color: #3ca5f6;
    font-size: 18px;
    border-radius: 4px!important;
    margin-top: 20px;
  }
}
</style>


