<template>
  <div class="xxs_container">
    <xxs-header></xxs-header>
    <section class="xxs_main">
      <div class="swiper">
        <swiper></swiper>
      </div>
      <div class="xxs_main_left">
          <ul>
            <li v-for="article in articleList" :key="article.articleNo">
              <div class="xxs_article_img">
                <a href="">
                  <img :src="imgUrl + article.imageNo" alt="">
                </a>
              </div>
              <div class="xxs_article_content">
                <div class="article_title">
                  <router-link :to="{ path: 'article', query: { articleNo: article.articleNo }}" target="_blank">
                    {{ article.title }}
                  </router-link>
                  <!-- <a href="/article" target="_blank">{{ article.title }}</a> -->
                </div>
                <div class="article_time">
                  <span style="color: #adadad">{{ formatTime(article.updateTime) }}</span>
                  <i style="margin: 0 30px" class="fa fa-eye"> {{ article.views }}</i>
                  <i class="fa fa-star"> {{ article.favorites }}</i>
                </div>
                <div class="article_summary">
                  {{ article.summary }}
                </div>
              </div>
            </li>
          </ul>
      </div>
      <!-- 右边 -->
      <div class="xxs_main_right">

      </div>
    </section>

    <xxs-footer>
    </xxs-footer>
  </div>
</template>

<script>
import swiper from '@/components/swiper'
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
import { formatTime } from '@/common/util/time'

const imgUrl = 'http://111.230.209.144:8088/img-server/findSysAblum?imageNo='
export default {
  components: {
    swiper,
    xxsHeader,
    xxsFooter
  },
  name: "home",
  data() {
    return {
      formatTime,
      imgUrl,
      articleList: []
    };
  },
  methods: {
    //  首页加载文章
    async getArticleList() {
      const params = {
        rows: 5,
        page: 1
      }
      const res = await this.$articleHttp.post('/newsArticle/pageArticle', params)
      this.articleList = res.data.data.records
    }
    //   const params = {
    //     id: '15417802184533166bcbf64724864aef51a80105a8598'
    //   }
    //   const res = await this.$articleHttp.get('/newsArticle/getDraftById', params)
    //   const arr = []
    //   arr.push(res.data.data)
    //   this.articleList = arr
    // }
  },
  async mounted() {
    // console.log(document.cookie)
    this.getArticleList()
    document.documentElement.scrollTop = 0
    let page = 1
    let sw = true
    window.addEventListener('scroll', () => {
      if(document.documentElement.scrollTop + window.innerHeight === document.documentElement.scrollHeight) {
        if (sw) {
          sw = false
          page += 1
          const params = {
            rows: 5,
            page: page
          }
          this.$articleHttp.post('/newsArticle/pageArticle', params).then(res => {
            const list = res.data.data.records || []
            list.forEach(news => {
              this.articleList.push(news)
            })
            sw = true
          })
        }
      }
    })
  }
};
</script>
<style lang="less" scoped>
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
  padding-bottom: 100px;
  box-sizing: border-box;
}
.xxs_main {
  margin: 0 auto;
  width: 1200px;
}
footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #333;
  overflow: hidden;
}
.swiper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}
//  文章列表样式
.xxs_main_left {
  float: left;
  margin-top: 10px;
  ul {
    list-style: none;
    li {
      position: relative;
      border-bottom: 1px solid #f0f0f0;
      padding: 30px 0;
      height: 124px;
      width: 800px;
    }
  }
}
// .wrapper {
//   display: fixed;
//   left: 0;
//   top: 0;
//   bottom: 0;
//   // width: 100%;
//   overflow:hidden;
// }
//  文章列表图片样式
.xxs_article_img {
  float: left;
}
//  文章列表内容样式
.xxs_article_content {
  position: relative;
  float: right;
  width: 550px;
  margin: 0 10px 0 0;
  text-align: left;
  height: 124px;
  .article_title {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-top: -5px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .article_time {
    margin: 10px 0 15px 0;
    i {
      color: #adadad
    }
  }
  .article_summary {
    text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    color: #a1a1a1
  }
}
.xxs_main_right {
  width: 370px;
  margin-top: 35px;
  float: right;
  height: 200px;
  background-color: red;
}
a:link {
  text-decoration: none;
}
a {
  color: #303030;
}
a:hover {
  color: #3ca5f6;
  text-decoration: none;
}
</style>

