<template>
  <div>
    <div class="member-from">
      <el-form
        size="mini"
        :model="member"
        label-width="80px"
        label-position="right">
        <div class="pic-item">
          <label class="member-title">头 像:</label>
          <img class="member-pic" :src="member.imgUrl" alt="">
          <el-button @click="openCopper()" size="small" plain type="primary" class="member-pic-but">更换头像</el-button>
        </div>
        <el-form-item label="昵 称:" prop="nickName">
          <el-input v-model="member.nickName" class="item-input"></el-input>
        </el-form-item>
        <el-form-item label="邮 箱:" prop="email">
          <el-input v-model="member.email" class="item-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号:" prop="mobileNo">
          <el-input v-model="member.mobileNo" class="item-input"></el-input>
        </el-form-item>
        <el-form-item label="性 别:" prop="sex">
          <el-radio-group v-model="member.sex">
            <el-radio-button :label="1">男</el-radio-button>
            <el-radio-button :label="2">女</el-radio-button>
            <el-radio-button :label="0">保密</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="简 介:" prop="remark">
          <el-input v-model="member.remark" placeholder="请输入您的简介吧~" :rows="5" type="textarea"></el-input>
        </el-form-item>
        <div class="member-footer">
          <el-button @click="update" type="primary" style="width: 120px;">保 存</el-button>
        </div>
      </el-form>
    </div>

    <!-- 裁剪图片 -->
    <el-dialog title="封面图片裁剪" :visible.sync="dialogFormVisible">
      <cropper ref="cropper" @subEven="subEven"></cropper>
    </el-dialog>
  </div>
</template>
<script>
import cropper from '@/components/cropper'
export default {
  components: {
    cropper
  },
  props: {
    detail: {
      type: Object
    }
  },
  data() {
    return {
      member: {
        imgUrl:'',
        nickName: null,
        email: null,
        mobileNo: null,
        picImg: '',
        sex: 1,
        remark: ''
      },
      dialogFormVisible: false
    }
  },
  methods: {
    //  打开裁剪图片 dialog
    openCopper() {
      this.dialogFormVisible = true
    },
    //  子组件事件
    subEven(res) {
      this.dialogFormVisible = false
      console.log(res)
      this.member.imgUrl = res.data.imageUrl
      this.member.picImg = res.data.imageNo
    },
    getMember() {
      this.member.imgUrl = this.$mgImgUrl + this.detail.picImg,
      this.member.nickName = this.detail.nickName
      this.member.email = this.detail.email
      this.member.mobileNo = this.detail.mobileNo
      this.member.sex = this.detail.sex
      this.member.remark = this.detail.remark
    },
    //  更新信息 交给父组件去做
    update() {
      const params = {
        picImg: this.member.picImg,
        memberNo: this.detail.memberNo,
        remark: this.member.remark,
        sex: this.member.sex,
        nickName: this.member.nickName,
      }
      this.$emit('updateMember', params)
    }
  },
  mounted() {
    this.getMember()
  }
}
</script>
<style lang="less" scoped>
.member-from {
  text-align: left;
  width: 100%;
}
.pic-item {
  position: relative;
  height: 100px;
  margin-bottom: 18px;
  .member-title {
    margin-top: 30px;
    width: 80px;
    line-height: 28px;
    text-align: right;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .member-pic {
    display: inline-block;
    margin-left: 45px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .member-pic-but {
    position: absolute;
    margin: 34px 45px;
  }
}
.member-footer {
  margin-top: 50px;
  text-align: center;
}
.item-input {
  width: 190px;
}
</style>


