<template>
  <div>
    <footer class="xxs_footer">
      <div class="xxs_footer_main">
        <div class="xxs_footer_content">
          <a href="#">关于我们</a>
          <a href="#">联系我们</a>
          <a href="#">加入我们</a>
          <a href="#">合作伙伴</a>
          <br>
          <br>
          <span style="margin-left: -40px;">©2018 新兴说 版权所有 / 粤ICP备1101545429号-5</span>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="less" scoped>
.xxs_footer {
  border-top: 1px solid #c0c0c0;
  width: 100%;
  height: 99px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  // background: rgb(255, 255, 255);
  overflow: hidden;
  .xxs_footer_main {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    .xxs_footer_content {
      margin-top: 20px;
    }
    .xxs_copyright {
      color: #000;
      margin: 0 auto;
    }
  }
}
a:link {
  text-decoration: none;
}
a {
  margin-right: 40px;
  color: #999999;
}
a:hover {
  color: #303030;
  text-decoration: none;
}
</style>


