<template>
  <div class="technique-article-main">
    <div class="tech-nav">
      <!-- 团队名称 -->
      <div class="nav-header">
        <span class="team-name">新兴说技术团队</span>
      </div>
      <ul class="nav-ul">
        <li
          @click="changeNav(index)"
          class="nav-li"
          :class="{ 'is-active': classIndex === index}"
          v-for="(value, index) in navList"
          :key="index">
          {{ value }}
        </li>
      </ul>
      <!-- 导航底部 -->
      <div class="nav-bottom">
        <p class="copyright">© 2019 新兴说技术团队</p>
        <p class="copyright">All rights reserved.</p>
      </div>
    </div>
    <div class="tech-right">
      <transition name="fade" mode="out-in">
        <keep-alive>
          <router-view :key="key"></router-view>
        </keep-alive>
      </transition>
    </div>
  </div>
</template>
<script>
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
const navList = ['最新文章', '技术浅谈', '产品分享', '关于我们']
const routerArr = ['/techniqueTeam/article',
  '/techniqueTeam/techTalk',
  '/techniqueTeam/productShare',
  '/techniqueTeam/abortWe']
const map = {}
export default {
  components: {
    xxsHeader,
    xxsFooter
  },
  data() {
    return {
      navList,
      routerArr
    }
  },
  methods: {
    changeNav(type) {
      if (this.classIndex === type) {
        return
      }
      this.$router.push({ path: this.routerArr[type] })
    }
  },
  computed: {
    classIndex() {
      let classIndex = 0
      this.routerArr.forEach((item, index) => {
        if (this.$route.path === item) {
          classIndex = index
        }
      })
      return classIndex
    },
    key() {
      let key = map[this.$route.name]
      if (key && this.$route.name && this.$route.params.from === 'tap') {
        return key
      }
      const query = this.$route.query ? JSON.stringify(this.$route.query) : ''
      key = this.$route.name !== undefined ? this.$route.name + query + +new Date() : this.$route + +new Date()
      map[this.$route.name] = key
      return key
    }
  }
}
</script>
<style lang="scss" scoped>
$bule-color: #1373e2;
$gray-color: #26252f;
.technique-article-main {
  margin: 0;
  padding: 0;
  .tech-nav {
    position: fixed;
    width: 180px;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #2a2935;
    border-color: #1b1b22;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 0;
    .nav-header {
      text-align: right;
      color: $bule-color;
      height: 50px;
      .team-name {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        line-height: 50px;
        padding: 10px 12px 10px;
      }
    }
    .nav-ul {
      list-style: none;
      float: right!important;
      margin: 0;
      .nav-li {
        cursor: pointer;
        height: 50px;
        width: 180px;
        list-style: none;
        text-align: right;
        color: rgb(255, 255, 255);
        line-height: 50px;
        text-decoration: none;
        padding-right: 12px;
      }
      .nav-li:hover {
        background-color: rgb(163, 164, 165);
      }
      .is-active {
        color: $bule-color;
        background-color: $gray-color;
        border-right: 4px solid $bule-color;
      }
      .is-active:hover {
        background-color: $gray-color !important;
      }
    }
    .nav-bottom {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
      position: absolute;
      bottom: 16px;
      text-align: center;
      width: 100%;
      .copyright {
        margin-bottom: 4px;
        font-size: 14px;
        color: #666;
      }
    }
  }
  .tech-right {
    margin-left: 200px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
</style>


