<template>
  <div class="xxs_container">
    <xxs-header></xxs-header>
    <div class="user-member-main">
      <div class="member-left">
        <span class="member-title">个人中心</span>
        <ul class="member-ul">
          <li class="member-li" @click="goMember(0)">
            <i class="fa fa-address-book-o member-li-i"></i>
            <span class="member-li-name">我的资料</span>
          </li>
          <li class="member-li" @click="goMember(1)">
            <i class="fa fa-comment-o member-li-i"></i>
            <span class="member-li-name">我的评论</span>
          </li>
          <li class="member-li" @click="goMember(2)">
            <i class="fa fa-heart-o member-li-i"></i>
            <span class="member-li-name">我的收藏</span>
          </li>
          <li class="member-li" @click="goMember(3)">
            <i class="fa fa-envelope-o member-li-i"></i>
            <span class="member-li-name">站内信</span>
          </li>
          <li class="member-li" @click="goMember(4)">
            <i class="fa fa-ban member-li-i"></i>
            <span class="member-li-name">黑名单管理</span>
          </li>
        </ul>
      </div>
      <div class="member-right">
        <div class="member-right-home">
          <!-- <keep-alive> -->
            <component @updateMember="updateMember" :detail="detail" :is="currentComponent" v-if="flag"></component>
          <!-- </keep-alive> -->
        </div>
      </div>
    </div>
    <xxs-footer></xxs-footer>
  </div>
</template>
<script>
import xxsHeader from '@/components/xxs-header'
import xxsFooter from '@/components/xxs-footer'
import material from './components/material'
export default {
  components: {
    xxsHeader,
    xxsFooter,
    material
  },
  data() {
    return {
      currentComponent: '',
      no: this.$route.query.no,
      detail: null,
      flag: false
    }
  },
  methods: {
    goMember(type) {
      this.flag = true
      const calLi = document.getElementsByClassName('member-li')
      calLi[type].style.backgroundColor = '#737677'
      for (let index = 0; index < calLi.length; index++) {
        if (index !== type) {
          calLi[index].style.backgroundColor = ''
        }
      }
      //  TODO: 暂时先做 我的资料 页面
      if (type === 0) {
        this.currentComponent = 'material'
      } else {
        this.currentComponent = ''
      }
    },
    async getUserInfo(no) {
      const respones = await this.$webHttp.get('/web/member/detail', { no })
      this.detail = respones.data.data
    },
    //  更新用户信息
    async updateMember(params) {
      const respones = await this.$webHttp.post('/web/member/support', params)
      this.$msg(respones)
    }
  },
  async mounted() {
    await this.getUserInfo(this.no)
    this.goMember(0)
  }
}
</script>
<style lang="less" scoped>
//  主体
.user-member-main {
  overflow: hidden;
  width: 980px;
  height: 100%;
  margin: 60px auto 100px;
  border: 1px solid #e1e2e5;
  box-shadow: 0 2px 4px rgba(0,0,0,.14);
  background: #fafafa;
  border-radius: 4px;
}
//  左边
.member-left {
  float: left;
  width: 150px;
  height: 100%;
  overflow: hidden;
  .member-title {
    display: block;
    width: 150px;
    height: 49px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #99a2aa;
    cursor: default;
    border-bottom: 1px solid #e1e2e5;
  }
  .member-ul {
    // margin-top: 15px;
    list-style: none;
    .member-li {
      cursor: pointer;
      // background-color: #737677!important;
      display: list-item;
      text-align: left;
      width: 120px;
      height: 48px;
      line-height: 48px;
      padding-left: 30px;
      .member-li-i {
      color: #bbbbbb;
      vertical-align: middle;
      display: inline-block;
      }
      .member-li-name {
        margin-left: 15px;
        font-size: 14px;
        color: #222;
      }
    }
  }
}
//  右边
.member-right {
  float: left;
  width: 829px;
  border-left: 1px solid #ddd;
  background: #fff;
  min-height: 890px !important;
  .member-right-home {
    padding: 50px 20px 0;
    width: 789px;
  }
}
.xxs_container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
</style>


