<template>
  <div>
    <transition name="fade">
      <!-- 登陆dialog -->
      <div class="xxs_login_dialog" v-if="loginShow" @click.self="loginShow = false">
        <div class="form">
          <div class="xxs_dialog_header">
            <h1>登录</h1>
            <img :src="closeImg" title="关闭" @click="loginShow = false">
          </div>
          <div class="xxs_input_group">
            <div class="xxs_input_box">
                <input v-model="login.username" class="input" type="text" placeholder="请输入手机号或邮箱">
            </div>
            <div class="xxs_input_box">
                <input v-model="login.password" class="input" type="password" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入密码">
            </div>
          </div>
          <button class="xxs_but_login" @click="memberLogin">登录</button>
          <div class="prompt-box">
            <span style="float: left">没有账号?</span>
            <span class="xxs_register" @click="openRegisterDialog">注册</span>
            <span class="xxs_forget_psd">忘记密码</span>
          </div>
          <div class="xxs_oauth_box">
            <div class="xxs_oauth_font">第三方登录</div>
            <div class="xxs_oauth_icon">
                <div class="xxs_oauth_other">
                  <img :src="qqImg" alt="" title="qq登录">
                </div>
                <div class="xxs_oauth_other">
                  <img src="https://b-gold-cdn.xitu.io/v3/static/img/wechat.e0ff124.svg" alt="" title="微信登录">
                </div>
                <div class="xxs_oauth_other">
                  <img src="https://b-gold-cdn.xitu.io/v3/static/img/weibo.fa758eb.svg" alt="" title="新浪登录">
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 注册dialog -->
      <div class="xxs_login_dialog" v-if="registeredShow" @click.self="registeredShow = false">
        <div class="form">
          <div class="xxs_dialog_header">
            <h1>注册</h1>
            <img :src="closeImg" title="关闭" @click="registeredShow = false">
          </div>
          <div class="xxs_input_group">
            <div class="xxs_input_box">
                <input v-model="register.email" class="input" type="text" placeholder="请输入邮箱">
            </div>
            <div class="xxs_input_box">
                <input v-model="register.pwd" class="input" type="password" readonly onfocus="this.removeAttribute('readonly');" placeholder="请输入密码">
            </div>
            <div class="xxs_input_box">
                <input v-model="register.validCode" class="input code_input" type="text" placeholder="请输入验证码">
                <button class="code" @click="getCode" v-if="showCode">
                  获取验证码
                </button>
                <button class="code" v-if="!showCode">
                  {{ count }} S
                </button>
            </div>
          </div>
          <button class="xxs_but_login" @click="registered">注册</button>
          <div class="xxs_oauth_box">
            <div class="xxs_oauth_font">第三方登录</div>
            <div class="xxs_oauth_icon">
                <div class="xxs_oauth_other">
                  <img :src="qqImg" alt="" title="qq登录">
                </div>
                <div class="xxs_oauth_other">
                  <img src="https://b-gold-cdn.xitu.io/v3/static/img/wechat.e0ff124.svg" alt="" title="微信登录">
                </div>
                <div class="xxs_oauth_other">
                  <img src="https://b-gold-cdn.xitu.io/v3/static/img/weibo.fa758eb.svg" alt="" title="新浪登录">
                </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <!-- 回到顶部 -->
    <div class="scrollTop" v-show="showTop" @click="toTop">
      <img :src="goTopImg"/>
    </div>
    <header :class="navBarFixed === true ? 'navBarWrap' : ''">
      <!-- 导航栏内部 -->
      <div class="xxs_nav">
        <!-- logo -->
        <a href="/" class="logo">
          <img :src="logoImg" alt="">
        </a>
        <!-- 导航 -->
        <nav>
          <ul class="xxs_nav_ul_main">
            <div @mouseenter="pullDown = true" @mouseleave="pullDown = false" style="float: left">
              <li>
                  <a href="">
                  新闻频道
                  <span class="caret"/>
                  </a>
              </li>
              <!-- 鼠标滑过出现下拉 -->
              <ul v-show="pullDown" class="pull_down">
                  <li>体育</li>
                  <li>军事</li>
                  <li>社会</li>
                  <li>头条</li>
                  <li>旅行</li>
                  <li>综艺</li>
              </ul>
            </div>
            <li>
              <router-link to="/company">
                创新公司
              </router-link>
            </li>
            <li>
              <router-link to="/techniqueTeam/article">
                技术团队
              </router-link>
            </li>
            <li>广场</li>
            <li>社区论坛</li>
            <li>联系我们</li>
          </ul>
        </nav>
          <!-- 登录注册 -->
        <div class="xxs_nav_right">
          <ul class="xxs_nav_ul_right">
            <li v-if="!$getCookie()" class="xxs_account" @click="openLoginDialog">登录</li>
            <li v-if="!$getCookie()" class="xxs_account" @click="openRegisterDialog">注册</li>
            <li v-if="$getCookie()" class="xxs_nickName" @click="openUserCenter">
              {{ userInfo.nickName }}
            </li>
            <li v-if="$getCookie()" @click="openUserCenter" style="height: 60px;">
              <img class="xxs_account_logo" src="https://upload.jianshu.io/users/upload_avatars/5898720/6be919ee-88dd-4ea1-9bf0-aa1f194657b4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114/format/webp" alt="">
            </li>
            <li>搜索</li>
            <li>
              <a href="">
                  我要投稿
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
import logoImg from "@/assets/img/logo.png";
import closeImg from "@/assets/img/close.png";
import qqImg from "@/assets/img/qq.png";
import goTopImg from "@/assets/img/goTop.png";
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    return {
      //  图片url
      logoImg,
      closeImg,
      qqImg,
      //  顶部导航栏标志位
      navBarFixed: false,
      //  登录弹框 标志位
      loginShow: false,
      registeredShow: false,
      //  鼠标划过下拉标志位
      pullDown: false,
      //  回到顶部参数
      goTopImg,
      scrollTop: 0,
      time: 0,
      dParams: 20,
      scrollState: 0,
      isLogin: true,
      userInfo: {},

      //  登录model
      login: {
        username: null,
        password: null
      },
      //  注册model
      register: {
        email: null,
        pwd: null,
        validCode: null
      },
      //  倒计时参数
      showCode: true,
      count: null,
      timer: null
    };
  },
  methods: {
    //  登录
    async memberLogin() {
      const params = { ...this.login }
      axios({
        baseURL: process.env.NODE_ENV === 'development' ? '/web/api' : '/web',
        method: 'post',
        url:'/account/login',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        data: qs.stringify(params)
      }).then(res => {
        console.log(res)
      }).catch(error => {
        console.error(error)
      })
    },
    // 打开登陆dialog
    openLoginDialog() {
      this.login = {
        username: null,
        password: null
      }
      this.registeredShow = false
      this.loginShow = true
    },
    // 打开注册dialog
    openRegisterDialog() {
      this.register = {
        email: null,
        pwd: null,
        validCode: null
      }
      this.registeredShow = true
      this.loginShow = false
    },
    //  获取验证码
    async getCode() {
      const params = { ...this.register }
      const respones = await this.$webHttp.get('/web/registered', params)
      const TIME_COUNT = 60;
      if (!this.timer) {
        this.count = TIME_COUNT
        this.showCode = false
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= TIME_COUNT) {
            this.count--
          } else {
            this.showCode = true
            clearInterval(this.timer)
            this.timer = null
          }
        }, 1000)
      }
    },
    async registered() {
      const params = { ...this.register }
      params.account = params.email
      const respones = await this.$webHttp.get('/web/valid', params)
      console.log(respones)
    },
    //  监听滚动
    watchScroll() {
      const scrollTop =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop
      //  当滚动超过导航栏高度时,实现吸顶效果
      scrollTop > 60 ? (this.navBarFixed = true) : (this.navBarFixed = false)
      //  出现顶部按钮
      this.scrollTop = scrollTop
    },
    //  点击回到顶部按钮
    toTop(e) {
      if(!!this.scrollState){
        return
      }
      this.scrollState = 1
      e.preventDefault()
      const distance = document.documentElement.scrollTop || document.body.scrollTop
      this.time = setInterval(() => {
        this.gotoTop(this.scrollTop - this.dParams)
      }, 20)
    },
    gotoTop(distance){
      this.dParams += 20;
      distance = distance > 0 ? distance : 0
      document.documentElement.scrollTop = document.body.scrollTop = window.pageYOffset = distance
      if(this.scrollTop < 10){
        clearInterval(this.time)
        this.dParams = 20
        this.scrollState = 0
      }
    },
    //  打开个人中心 页面
    openUserCenter() {
      //  TODO
      this.$router.push({ path: '/member', query: { 'no': this.userInfo.no } })
    },
    //  获取用户信息
    async getUserInfo() {
      const respones = await this.$webHttp.get('/web/getUserInfo')
      this.userInfo = respones.data.data
    }
  },
  mounted() {
    //  添加滚动事件
    window.addEventListener("scroll", this.watchScroll)
    this.getUserInfo()

  },
  computed: {
    //  计算什么时候显示回到顶部按钮
    showTop() {
      return +this.scrollTop > 200 ? true : false
    }
  }
};
</script>
<style lang="less" scoped>
header {
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  .xxs_nav {
    margin: 0 auto;
    max-width: 1200px;
    .logo {
      float: left;
      img {
        width: 130px;
        max-height: 60px;
      }
    }
    a:link {
      max-height: 60px;
      text-decoration: none;
    }
    nav {
      line-height: 60px;
      transition: opacity 0.4s linear 0s;
      padding-left: 40px;
      float: left;
      .xxs_nav_ul_main {
        list-style: none;
        li {
          margin-right: 50px;
          float: left;
          a:hover {
            color: #4601f5;
          }
          a {
            color: #303030;
          }
          a:link {
            text-decoration: none;
            .caret {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 2px;
              vertical-align: middle;
              border-top: 4px dashed;
              border-right: 4px solid transparent;
              border-left: 4px solid transparent;
            }
          }
        }
      }
    }
    .xxs_nav_right {
      line-height: 60px;
      .xxs_nav_ul_right {
        list-style: none;
        li {
          margin-left: 30px;
          float: right;
          a {
            display: inline-block;
            width: 80px;
            line-height: 30px;
            border: solid 1px #4285f4;
            border-radius: 14px;
            box-sizing: border-box;
            font-size: 14px;
            color: #4285f4;
            text-align: center;
          }
        }
      }
    }
  }
}
.xxs_account {
  cursor: pointer;
}
.xxs_account_logo {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50%;
}
.xxs_nickName {
  cursor: pointer;
  margin-left: 10px !important;
}
//  鼠标划过下拉样式
.pull_down {
  text-align: center;
  // min-height: 220px;
  height: auto;
  list-style: none;
  position: absolute;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1000;
  box-shadow: 0 1px 15px rgba(18, 21, 21, 0.2);
  margin-top: 60px;
  border-top: 1px solid #f0f0f0;
  li {
    line-height: 36px;
    margin: 0 auto !important;
    float: none !important;
  }
}
// 监听吸顶
.navBarWrap {
  position: fixed;
  top: 0;
  z-index: 999;
}
//  登录框 过渡效果
&.fade-enter-active,
&.fade-leave-active {
  transition: all 1s ease;
}
&.fade-enter,
&.fade-leave-active {
  opacity: 0;
}
// 登录框样式
.xxs_login_dialog {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  .form {
    position: relative;
    padding: 20px;
    width: 320px;
    height: 370px;
    font-size: 1.167rem;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    .xxs_dialog_header {
      min-height: 36px;
      margin-bottom: 20px;
      h1 {
        font-size: 20px;
        border: #000000;
        float: left;
      }
      img {
        cursor: pointer;
        float: right;
        width: 15px;
        height: 15px;
      }
    }
    .xxs_input_group {
      margin-bottom: 8px;
      .xxs_input_box {
        position: relative;
        margin-bottom: 12px;
        .input:focus {
          border-color: #007fff;
        }
        .input {
          padding: 10px;
          width: 100%;
          border: 1px solid #e9e9e9;
          border-radius: 2px;
          outline: none;
          overflow: visible;
          box-sizing: border-box;
        }
        .code_input {
          width: 200px;
        }
        .code {
          width: 80px;
          line-height: 37px;
          // border-radius: 2px;
          border: none;
          color: #fff;
          background-color: #007fff;
          outline: none;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
    .xxs_but_login {
      border: none;
      width: 100%;
      min-height: 40px;
      color: #fff;
      background-color: #007fff;
      border-radius: 2px;
      outline: none;
      box-sizing: border-box;
      cursor: pointer;
    }
    .prompt-box {
      height: 20px;
      font-size: 14px;
      margin: 15px 0 0;
      color: #8b9196;
      .xxs_register {
        color: #007fff;
        cursor: pointer;
        margin-left: 10px;
        float: left;
      }
      .xxs_forget_psd {
        color: #007fff;
        cursor: pointer;
        margin-left: 10px;
        float: right;
      }
    }
    .xxs_oauth_box {
      height: 25px;
      margin-top: 15px;
      color: #8b9196;
      .xxs_oauth_font {
        font-size: 16px;
        text-align: left;
      }
      .xxs_oauth_icon {
        width: 100%;
        height: auto;
        display: flex;
        -webkit-box-align: center;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        min-height: 100%;
        .xxs_oauth_other {
          cursor: pointer;
          display: flex;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: #f4f8fb;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          img {
            margin: auto 0;
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
}
//  回到顶部
.scrollTop {
  position: fixed;
  right: 40px;
  bottom: 120px;
  cursor: pointer;
  z-index: 1002;
}
</style>


